body {
	margin-top: 3%;
	margin-bottom: 3%;
	margin-right: 5%;
	margin-left: 5%;
	display: grid;
}

.bb {
	background-color: #6C1D1C;
}

header{
	text-align: center;
	font-family: "Copperplate", fantasy;
	font-size: 50px;
	background-color: #B78E5E;
	border: 2px solid white;
	border-bottom: 0px;
}

.main{
	background-color: #b78e5e;
	display: flex;
	border: 2px solid white;
}

.left_side{
	padding: 2% 2%;
	background-image: url("../zdjecia/bg_up.png");
	width: 45%;
	border-right: 2px solid white;
	font-size: 20px;
	
}

.right_side{
	background-image: url("../zdjecia/background.png");
	background-repeat: repeat;
	padding: 0 2%;
	width: 100%;
	
}

footer{
	text-align: right;
	font-size: 15px;
	background-color: #B78E5E;
	padding: 1% 1%;
	border: 2px solid white;
	border-top: 0px;
}

h1{
	font-family: "Copperplate", fantasy;
	text-align: center;
	color: white;
}

.col{
	color: white;
	text-align: center;
}

.bg{
	background-color: #B78E5E;
	width:550px;
	border: 1px solid black;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	font-family: "Copperplate", fantasy;
	text-align: center;
}

.list{
	background-color: #B78E5E;
	padding: 1% 1%;
	border: 1px solid black;
}

table, th, td{
	background-color: #B78E5E;
	border: 1px solid black;
}

img{
	border: 3px solid white;
	border-radius: 4px;
}

.gallery{
	display: flex-wrap;
	margin-left: auto;
	margin-right: auto;
}

#zegarek{
	background-color: #B78E5E;
	width:10%;
}

#data{
	background-color: #B78E5E;
	width:10%;
}

.test-block{
	width: 200px;
	border:2px solid rgba(208,178,109,1);
	background: rgba(208,178,109,0.7);
	text-align: center;
	color:#00;
	padding:20px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea.form-control {
    resize: vertical;
}

.form-submit-btn {
    background-color: #0066cc;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.form-submit-btn:hover {
    background-color: #004080;
}  